@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">

    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4"></button>
        
    </div>

<!-- The carousel with five pictures -->

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/building.jpg" class="d-block w-100" alt="Building" width="1000" height="800"/>
            <div class="carousel-caption">
                <h3>
                    Western Inn
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/room.jpg" class="d-block w-100" alt="Room" width="1000" height="800"/>
            <div class="carousel-caption">
                <h3>
                    Suite
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/dining.jpg" class="d-block w-100" alt="Dining" width="1000" height="800"/>
            <div class="carousel-caption">
                <h3>
                    Western Inn Restaurant
                </h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/garden.jpg" class="d-block w-100" alt="Garden" width="1000" height="800"/>
            <div class="carousel-caption">
                <h3>
                    Garden
                </h3>
            </div>
        </div>
            <div class="carousel-item">
                <img src="~/images/bar.jpg" class="d-block w-100" alt="Bar" width="1000" height="800"/>
                <div class="carousel-caption">
                    <h3>
                        Western Inn Pub
                    </h3>
                </div>
            </div>
        </div>
    

<!-- Left and right controls -->
<button type="button" class="carousel-control-prev" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
</button>
<button type="button" class="carousel-control-next" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
</button>
</div>

<br />

<!-- The two columns below the carousel -->
<div id="homePageColumn" class="row">
    <!-- The welcome message and brief introduction -->
    <div class="col-md-7">
        <h3>Welcome to the Western Inn Hotel</h3>
        <p>Our hotels are the place to be. We provide prestigious accomodation in Parramatta, Penrith and Campbelltown. All our hotels feature world-class architecture, exquisite room furnishings, and fresh meals cooked by our professional chefs. We're committed to providing you with the perfect hotel experience.</p>
    </div>
    <!-- The list of links about the University and other related resources -->
    <div class="col-md-5">
        <ul>
            <li><a href="~/">Western Inn Home Page</a></li>
            <li><a href="https://www.westernsydney.edu.au/">Western Sydney University</a></li>
            <li><a href="https://www.cityofparramatta.nsw.gov.au/">Parramatta City Council</a></li>
            <li><a href="https://www.penrithcity.nsw.gov.au/">Penrith City Council</a></li>
            <li><a href="https://www.campbelltown.nsw.gov.au/home">Campbelltown City Council</a></li>
        </ul>
    </div>
</div>